body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f9fafe;
}

h1 {
  font-size: 40px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
